<div>
    <h1>Upcoming Angular Events</h1>
    <hr>
    <!--here [event] is Input parameter name. but "event1" is our real world object-->
    <!--eventClick propery matches with the Output propery in component-->
    <!--(eventClick)="handleEventClicked($event)"-->
    <!--#thumbnail this is a pointer to our child component. by using this 
        we can access any property or method from child component-->
        <!--#thumbnail-->
        <div class="row">
            <div *ngFor="let eventObj of events" class="col-md-5">
                  <event-thumbnail [event]="eventObj"></event-thumbnail>
            </div>            
        </div>
    <!-- <h3>{{thumbnail.someProperty}}</h3> -->
    <!-- <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log some foo</button> -->
</div>